In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
#Importing election data 
election_data = "president_county_candidate(11212020).csv"
# Read our Data file with the pandas library
election_data_df = pd.read_csv(election_data, encoding="utf-8")
# Show just the header
election_data_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [3]:
# Read our Data file with the pandas library
election_data_df = pd.read_csv(election_data, encoding="utf-8")
# Show just the header
election_data_df.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [4]:
election_votes_group = election_data_df[["state","county","total_votes"]]
election_votes_group.head()

      state             county  total_votes
0  Delaware        Kent County        44552
1  Delaware        Kent County        41009
2  Delaware        Kent County         1044
3  Delaware        Kent County          420
4  Delaware  New Castle County       195034

In [5]:
state_votes_group = election_votes_group.groupby(["state"])
state_votes_sum = state_votes_group["total_votes"].sum()
state_votes_sum.head()

state
Alabama        2309900
Alaska          356796
Arizona        3385845
Arkansas       1217613
California    17322626
Name: total_votes, dtype: int64

In [6]:
county_votes_group = election_votes_group.groupby(["state", "county"])
county_votes_sum = county_votes_group["total_votes"].sum()
county_votes_sum

state    county
Alabama  Autauga County        27639
         Baldwin County       108945
         Barbour County        10457
         Bibb County            9573
         Blount County         27459
                               ...
Wyoming  Sweetwater County     16603
         Teton County          14677
         Uinta County           9402
         Washakie County        4012
         Weston County          3542
Name: total_votes, Length: 4633, dtype: int64

In [7]:
biden_votes_group = election_data_df.loc[election_data_df["candidate"]=="Joe Biden", :]
biden_votes_group.head()

,state,county,candidate,party,total_votes,won
0,Delaware,Kent County,Joe Biden,DEM,44552,True
4,Delaware,New Castle County,Joe Biden,DEM,195034,True
9,Delaware,Sussex County,Joe Biden,DEM,56682,False
12,District of Columbia,District of Columbia,Joe Biden,DEM,38037,True
19,District of Columbia,Ward 2,Joe Biden,DEM,28185,True

In [8]:
biden_state_group = biden_votes_group.groupby(["state"])
biden_state_total = biden_state_group["total_votes"].sum()
biden_state_total

state
Alabama                   843473
Alaska                    153551
Arizona                  1672143
Arkansas                  423503
California              11016457
Colorado                 1803941
Connecticut              1080575
Delaware                  296268
District of Columbia      307265
Florida                  5297045
Georgia                  2474507
Hawaii                    366130
Idaho                     287021
Illinois                 4223888
Indiana                  1241774
Iowa                      758881
Kansas                    551199
Kentucky                  772474
Louisiana                 856034
Maine                     420588
Maryland                 1970394
Massachusetts            2319420
Michigan                 2804039
Minnesota                1716578
Mississippi               539494
Missouri                 1252371
Montana                   244786
Nebraska                  374362
Nevada                    703486
New Hampshire             424921
New Jersey               2599245
New Mexico                501474
New York                 4007900
North Carolina           2684302
North Dakota              114902
Ohio                     2677738
Oklahoma                  503890
Oregon                   1346075
Pennsylvania             3455528
Rhode Island              306192
South Carolina           1091541
South Dakota              150471
Tennessee                1139376
Texas                    5261055
Utah                      560282
Vermont                   242820
Virginia                 2413582
Washington               2365643
West Virginia             235847
Wisconsin                1630716
Wyoming                    73491
Name: total_votes, dtype: int64

In [9]:
biden_county_group = biden_votes_group.groupby(["state", "county"])
biden_county_total = biden_county_group["total_votes"].sum()
biden_county_total

state    county
Alabama  Autauga County        7450
         Baldwin County       24344
         Barbour County        4772
         Bibb County           1982
         Blount County         2627
                              ...
Wyoming  Sweetwater County     3823
         Teton County          9848
         Uinta County          1591
         Washakie County        651
         Weston County          360
Name: total_votes, Length: 4633, dtype: int64

In [10]:
trump_votes_group = election_data_df.loc[election_data_df["candidate"]=="Donald Trump", :]
trump_votes_group.head()

,state,county,candidate,party,total_votes,won
1,Delaware,Kent County,Donald Trump,REP,41009,False
5,Delaware,New Castle County,Donald Trump,REP,88364,False
8,Delaware,Sussex County,Donald Trump,REP,71230,True
13,District of Columbia,District of Columbia,Donald Trump,REP,1703,False
20,District of Columbia,Ward 2,Donald Trump,REP,2874,False

In [11]:
trump_state_group = trump_votes_group.groupby(["state"])
trump_state_total = trump_state_group["total_votes"].sum()
trump_state_total

state
Alabama                 1434159
Alaska                   189457
Arizona                 1661686
Arkansas                 759715
California              5931349
Colorado                1364226
Connecticut              715651
Delaware                 200603
District of Columbia      18172
Florida                 5668731
Georgia                 2461837
Hawaii                   196864
Idaho                    554118
Illinois                2809201
Indiana                 1729446
Iowa                     897467
Kansas                   753370
Kentucky                1326646
Louisiana               1255776
Maine                    342325
Maryland                 973012
Massachusetts           1149614
Michigan                2649852
Minnesota               1483807
Mississippi              756731
Missouri                1717685
Montana                  343602
Nebraska                 556331
Nevada                   669890
New Hampshire            365654
New Jersey              1876252
New Mexico               401828
New York                2960070
North Carolina          2758775
North Dakota             235595
Ohio                    3150642
Oklahoma                1020280
Oregon                   966537
Pennsylvania            3373911
Rhode Island             199830
South Carolina          1385103
South Dakota             261043
Tennessee               1849820
Texas                   5891778
Utah                     865140
Vermont                  112704
Virginia                1962614
Washington              1581049
West Virginia            545051
Wisconsin               1610151
Wyoming                  193559
Name: total_votes, dtype: int64

In [12]:
trump_county_group = trump_votes_group.groupby(["state", "county"])
trump_county_total = trump_county_group["total_votes"].sum()
trump_county_total

state    county
Alabama  Autauga County       19764
         Baldwin County       83055
         Barbour County        5605
         Bibb County           7508
         Blount County        24595
                              ...
Wyoming  Sweetwater County    12229
         Teton County          4341
         Uinta County          7496
         Washakie County       3245
         Weston County         3107
Name: total_votes, Length: 4633, dtype: int64

In [13]:
# Creating a new DataFrame using both biden and trump state totals
state_votes_total = pd.DataFrame({"biden_state_votes": biden_state_total,
                                    "trump_state_votes": trump_state_total,
                                     "total_state_votes": state_votes_sum})
state_votes_total.head()

            biden_state_votes  trump_state_votes  total_state_votes
state
Alabama                843473            1434159            2309900
Alaska                 153551             189457             356796
Arizona               1672143            1661686            3385845
Arkansas               423503             759715            1217613
California           11016457            5931349           17322626

In [14]:
state_votes_total.loc[state_votes_total['biden_state_votes'] > state_votes_total['trump_state_votes'],
                      'state_winner'] = 'biden'
state_votes_total.loc[state_votes_total['trump_state_votes'] > state_votes_total['biden_state_votes'],
                      'state_winner'] = 'trump'
state_votes_total['biden_state_percent']= state_votes_total['biden_state_votes']/state_votes_total['total_state_votes']
state_votes_total['trump_state_percent']= state_votes_total['trump_state_votes']/state_votes_total['total_state_votes']
state_votes_total.head()

,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent
state,,,,,,
Alabama,843473,1434159,2309900,trump,0.365156,0.620875
Alaska,153551,189457,356796,trump,0.430361,0.530995
Arizona,1672143,1661686,3385845,biden,0.493863,0.490774
Arkansas,423503,759715,1217613,trump,0.347814,0.623938
California,11016457,5931349,17322626,biden,0.635958,0.342405

In [15]:
# Creating a new DataFrame using both biden and trump county totals
county_votes_total = pd.DataFrame({"biden_county_votes": biden_county_total,
                                    "trump_county_votes": trump_county_total,
                                    "total_county_votes": county_votes_sum})
county_votes_total.head()

                        biden_county_votes  trump_county_votes  \
state   county
Alabama Autauga County                7450               19764
        Baldwin County               24344               83055
        Barbour County                4772                5605
        Bibb County                   1982                7508
        Blount County                 2627               24595

                        total_county_votes
state   county
Alabama Autauga County               27639
        Baldwin County              108945
        Barbour County               10457
        Bibb County                   9573
        Blount County                27459

In [16]:
county_votes_total.loc[county_votes_total['biden_county_votes'] > county_votes_total['trump_county_votes'],
                      'county_winner'] = 'biden'
county_votes_total.loc[county_votes_total['trump_county_votes'] > county_votes_total['biden_county_votes'],
                      'county_winner'] = 'trump'
county_votes_total['biden_county_percent']= county_votes_total['biden_county_votes']/county_votes_total['total_county_votes']
county_votes_total['trump_county_percent']= county_votes_total['trump_county_votes']/county_votes_total['total_county_votes']
county_votes_final = county_votes_total
county_votes_final.head()

                        biden_county_votes  trump_county_votes  \
state   county
Alabama Autauga County                7450               19764
        Baldwin County               24344               83055
        Barbour County                4772                5605
        Bibb County                   1982                7508
        Blount County                 2627               24595

                        total_county_votes county_winner  \
state   county
Alabama Autauga County               27639         trump
        Baldwin County              108945         trump
        Barbour County               10457         trump
        Bibb County                   9573         trump
        Blount County                27459         trump

                        biden_county_percent  trump_county_percent
state   county
Alabama Autauga County              0.269547              0.715077
        Baldwin County              0.223452              0.762357
        Barbour County              0.456345              0.536005
        Bibb County                 0.207041              0.784289
        Blount County               0.095670              0.895699

In [17]:
#Importing electoral college data 
population_data = "estimated_2019population.csv"
# Read our Data file with the pandas library
population_data_df = pd.read_csv(population_data, encoding="utf-8")
# Show just the header
population_data_df.head()

        state  est_population
0     Alabama         4903185
1      Alaska          731545
2     Arizona         7278717
3    Arkansas         3017804
4  California        39512223

In [18]:
#Importing electoral college data 
electoralcollege_data = "Electoral_College.csv"
# Read our Data file with the pandas library
electoralcollege_data_df = pd.read_csv(electoralcollege_data, encoding='ISO-8859-1')
#ELECTORAL COLLEGE VOTE FROM 2020 ONLY
electoralcollege_data_df = electoralcollege_data_df[electoralcollege_data_df['year'] == 2020]
#Show the header
electoralcollege_data_df.head()

     year       state  votes
58   2020     Alabama    9.0
117  2020      Alaska    3.0
176  2020     Arizona   11.0
235  2020    Arkansas    6.0
294  2020  California   55.0

In [19]:
#Show state and votes columns
electoralcollege_data_df = electoralcollege_data_df[["state","votes"]]
electoralcollege_data_df= electoralcollege_data_df.rename(columns = {'votes':'electoral_votes'})
electoralcollege_data_df['electoral_votes'] = electoralcollege_data_df['electoral_votes'].astype(int) 
electoralcollege_data_df

               state  electoral_votes
58           Alabama                9
117           Alaska                3
176          Arizona               11
235         Arkansas                6
294       California               55
353         Colorado                9
412      Connecticut                7
471             D.C.                3
530         Delaware                3
589          Florida               29
648          Georgia               16
707           Hawaii                4
766            Idaho                4
825         Illinois               20
884          Indiana               11
943             Iowa                6
1002          Kansas                6
1061        Kentucky                8
1120       Louisiana                8
1179           Maine                4
1238        Maryland               10
1297   Massachusetts               11
1356        Michigan               16
1415       Minnesota               10
1474     Mississippi                6
1533        Missouri               10
1592         Montana                3
1651        Nebraska                5
1710          Nevada                6
1769   New Hampshire                4
1828      New Jersey               14
1887      New Mexico                5
1946        New York               29
2005  North Carolina               15
2064    North Dakota                3
2123            Ohio               18
2182        Oklahoma                7
2241          Oregon                7
2300    Pennsylvania               20
2359    Rhode Island                4
2418  South Carolina                9
2477    South Dakota                3
2536       Tennessee               11
2595           Texas               38
2654            Utah                6
2713         Vermont                3
2772        Virginia               13
2831      Washington               12
2890   West Virginia                5
2949       Wisconsin               10
3008         Wyoming                3

In [20]:
# Merge two dataframes using an inner join
state_votes_final = pd.merge(state_votes_total, population_data_df, on="state")
state_votes_final

,state,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent,est_population
0,Alabama,843473,1434159,2309900,trump,0.365156,0.620875,4903185
1,Alaska,153551,189457,356796,trump,0.430361,0.530995,731545
2,Arizona,1672143,1661686,3385845,biden,0.493863,0.490774,7278717
3,Arkansas,423503,759715,1217613,trump,0.347814,0.623938,3017804
4,California,11016457,5931349,17322626,biden,0.635958,0.342405,39512223
5,Colorado,1803941,1364226,3256108,biden,0.554018,0.418974,5758736
6,Connecticut,1080575,715651,1824826,biden,0.592152,0.392175,3565287
7,Delaware,296268,200603,504010,biden,0.587822,0.398014,973764
8,District of Columbia,307265,18172,333682,biden,0.920832,0.054459,705749
9,Florida,5297045,5668731,11067456,trump,0.478615,0.512198,21477737
10,Georgia,2474507,2461837,4998566,biden,0.495043,0.492509,10617423
11,Hawaii,366130,196864,574469,biden,0.637336,0.342689,1415872
12,Idaho,287021,554118,868105,trump,0.330629,0.638308,1787065
13,Illinois,4223888,2809201,7170200,biden,0.589089,0.391788,12671821
14,Indiana,1241774,1729446,3035088,trump,0.409139,0.569817,6732219
15,Iowa,758881,897467,1688310,trump,0.449492,0.531577,3155070
16,Kansas,551199,753370,1334330,trump,0.413090,0.564605,2913314
17,Kentucky,772474,1326646,2136768,trump,0.361515,0.620866,4467673
18,Louisiana,856034,1255776,2148062,trump,0.398515,0.584609,4648794
19,Maine,420588,342325,786952,biden,0.534452,0.435001,1344212
20,Maryland,1970394,973012,2998114,biden,0.657211,0.324541,6045680
21,Massachusetts,2319420,1149614,3549597,biden,0.653432,0.323872,6892503
22,Michigan,2804039,2649852,5544102,biden,0.505770,0.477959,9986857
23,Minnesota,1716578,1483807,3268708,biden,0.525155,0.453943,5639632
24,Mississippi,539494,756731,1315240,trump,0.410187,0.575356,2976149
25,Missouri,1252371,1717685,3028133,trump,0.413579,0.567242,6137428
26,Montana,244786,343602,605750,trump,0.404104,0.567234,1068778
27,Nebraska,374362,556331,951390,trump,0.393490,0.584756,1934408
28,Nevada,703486,669890,1405376,biden,0.500568,0.476662,3080156
29,New Hampshire,424921,365654,804430,biden,0.528226,0.454550,1359711
30,New Jersey,2599245,1876252,4551202,biden,0.571112,0.412254,8882190
31,New Mexico,501474,401828,923756,biden,0.542864,0.434994,2096829
32,New York,4007900,2960070,7073212,biden,0.566631,0.418490,19453561
33,North Carolina,2684302,2758775,5524813,trump,0.485863,0.499343,10488084
34,North Dakota,114902,235595,361819,trump,0.317568,0.651140,762062
35,Ohio,2677738,3150642,5925806,trump,0.451877,0.531682,11689100
36,Oklahoma,503890,1020280,1560699,trump,0.322862,0.653733,3956971
37,Oregon,1346075,966537,2385441,biden,0.564288,0.405182,4217737
38,Pennsylvania,3455528,3373911,6915265,biden,0.499696,0.487893,12801989
39,Rhode Island,306192,199830,513602,biden,0.596166,0.389076,1059361
40,South Carolina,1091541,1385103,2513329,trump,0.434301,0.551103,5148714
41,South Dakota,150471,261043,422609,trump,0.356053,0.617694,884659
42,Tennessee,1139376,1849820,3049514,trump,0.373625,0.606595,6829174
43,Texas,5261055,5891778,11323963,trump,0.464595,0.520293,28995881
44,Utah,560282,865140,1487696,trump,0.376611,0.581530,3205958
45,Vermont,242820,112704,367428,biden,0.660864,0.306738,623989
46,Virginia,2413582,1962614,4456310,biden,0.541610,0.440412,8535519
47,Washington,2365643,1581049,4052544,biden,0.583743,0.390137,7614893
48,West Virginia,235847,545051,794204,trump,0.296960,0.686286,1792147
49,Wisconsin,1630716,1610151,3297434,biden,0.494541,0.488304,5822434
50,Wyoming,73491,193559,276765,trump,0.265536,0.699362,578759

In [21]:
state_votes_final['pop_vote_percent']=state_votes_final['total_state_votes']/ state_votes_final['est_population']
state_votes_final.head()

,state,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent,est_population,pop_vote_percent
0,Alabama,843473,1434159,2309900,trump,0.365156,0.620875,4903185,0.471102
1,Alaska,153551,189457,356796,trump,0.430361,0.530995,731545,0.487729
2,Arizona,1672143,1661686,3385845,biden,0.493863,0.490774,7278717,0.465171
3,Arkansas,423503,759715,1217613,trump,0.347814,0.623938,3017804,0.403477
4,California,11016457,5931349,17322626,biden,0.635958,0.342405,39512223,0.438412

In [22]:
# Merge two dataframes using an inner join
state_votes_final = pd.merge(state_votes_final, electoralcollege_data_df, on="state")
state_votes_final

,state,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent,est_population,pop_vote_percent,electoral_votes
0,Alabama,843473,1434159,2309900,trump,0.365156,0.620875,4903185,0.471102,9
1,Alaska,153551,189457,356796,trump,0.430361,0.530995,731545,0.487729,3
2,Arizona,1672143,1661686,3385845,biden,0.493863,0.490774,7278717,0.465171,11
3,Arkansas,423503,759715,1217613,trump,0.347814,0.623938,3017804,0.403477,6
4,California,11016457,5931349,17322626,biden,0.635958,0.342405,39512223,0.438412,55
5,Colorado,1803941,1364226,3256108,biden,0.554018,0.418974,5758736,0.565421,9
6,Connecticut,1080575,715651,1824826,biden,0.592152,0.392175,3565287,0.511831,7
7,Delaware,296268,200603,504010,biden,0.587822,0.398014,973764,0.517589,3
8,Florida,5297045,5668731,11067456,trump,0.478615,0.512198,21477737,0.515299,29
9,Georgia,2474507,2461837,4998566,biden,0.495043,0.492509,10617423,0.470789,16
10,Hawaii,366130,196864,574469,biden,0.637336,0.342689,1415872,0.405735,4
11,Idaho,287021,554118,868105,trump,0.330629,0.638308,1787065,0.485771,4
12,Illinois,4223888,2809201,7170200,biden,0.589089,0.391788,12671821,0.565838,20
13,Indiana,1241774,1729446,3035088,trump,0.409139,0.569817,6732219,0.450830,11
14,Iowa,758881,897467,1688310,trump,0.449492,0.531577,3155070,0.535110,6
15,Kansas,551199,753370,1334330,trump,0.413090,0.564605,2913314,0.458011,6
16,Kentucky,772474,1326646,2136768,trump,0.361515,0.620866,4467673,0.478273,8
17,Louisiana,856034,1255776,2148062,trump,0.398515,0.584609,4648794,0.462069,8
18,Maine,420588,342325,786952,biden,0.534452,0.435001,1344212,0.585437,4
19,Maryland,1970394,973012,2998114,biden,0.657211,0.324541,6045680,0.495910,10
20,Massachusetts,2319420,1149614,3549597,biden,0.653432,0.323872,6892503,0.514994,11
21,Michigan,2804039,2649852,5544102,biden,0.505770,0.477959,9986857,0.555140,16
22,Minnesota,1716578,1483807,3268708,biden,0.525155,0.453943,5639632,0.579596,10
23,Mississippi,539494,756731,1315240,trump,0.410187,0.575356,2976149,0.441927,6
24,Missouri,1252371,1717685,3028133,trump,0.413579,0.567242,6137428,0.493388,10
25,Montana,244786,343602,605750,trump,0.404104,0.567234,1068778,0.566769,3
26,Nebraska,374362,556331,951390,trump,0.393490,0.584756,1934408,0.491825,5
27,Nevada,703486,669890,1405376,biden,0.500568,0.476662,3080156,0.456268,6
28,New Hampshire,424921,365654,804430,biden,0.528226,0.454550,1359711,0.591618,4
29,New Jersey,2599245,1876252,4551202,biden,0.571112,0.412254,8882190,0.512396,14
30,New Mexico,501474,401828,923756,biden,0.542864,0.434994,2096829,0.440549,5
31,New York,4007900,2960070,7073212,biden,0.566631,0.418490,19453561,0.363595,29
32,North Carolina,2684302,2758775,5524813,trump,0.485863,0.499343,10488084,0.526770,15
33,North Dakota,114902,235595,361819,trump,0.317568,0.651140,762062,0.474789,3
34,Ohio,2677738,3150642,5925806,trump,0.451877,0.531682,11689100,0.506951,18
35,Oklahoma,503890,1020280,1560699,trump,0.322862,0.653733,3956971,0.394418,7
36,Oregon,1346075,966537,2385441,biden,0.564288,0.405182,4217737,0.565574,7
37,Pennsylvania,3455528,3373911,6915265,biden,0.499696,0.487893,12801989,0.540171,20
38,Rhode Island,306192,199830,513602,biden,0.596166,0.389076,1059361,0.484822,4
39,South Carolina,1091541,1385103,2513329,trump,0.434301,0.551103,5148714,0.488147,9
40,South Dakota,150471,261043,422609,trump,0.356053,0.617694,884659,0.477708,3
41,Tennessee,1139376,1849820,3049514,trump,0.373625,0.606595,6829174,0.446542,11
42,Texas,5261055,5891778,11323963,trump,0.464595,0.520293,28995881,0.390537,38
43,Utah,560282,865140,1487696,trump,0.376611,0.581530,3205958,0.464041,6
44,Vermont,242820,112704,367428,biden,0.660864,0.306738,623989,0.588837,3
45,Virginia,2413582,1962614,4456310,biden,0.541610,0.440412,8535519,0.522090,13
46,Washington,2365643,1581049,4052544,biden,0.583743,0.390137,7614893,0.532187,12
47,West Virginia,235847,545051,794204,trump,0.296960,0.686286,1792147,0.443158,5
48,Wisconsin,1630716,1610151,3297434,biden,0.494541,0.488304,5822434,0.566333,10
49,Wyoming,73491,193559,276765,trump,0.265536,0.699362,578759,0.478204,3

In [23]:
state_votes_final['id']= state_votes_final.index
state_votes_final

,state,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent,est_population,pop_vote_percent,electoral_votes,id
0,Alabama,843473,1434159,2309900,trump,0.365156,0.620875,4903185,0.471102,9,0
1,Alaska,153551,189457,356796,trump,0.430361,0.530995,731545,0.487729,3,1
2,Arizona,1672143,1661686,3385845,biden,0.493863,0.490774,7278717,0.465171,11,2
3,Arkansas,423503,759715,1217613,trump,0.347814,0.623938,3017804,0.403477,6,3
4,California,11016457,5931349,17322626,biden,0.635958,0.342405,39512223,0.438412,55,4
5,Colorado,1803941,1364226,3256108,biden,0.554018,0.418974,5758736,0.565421,9,5
6,Connecticut,1080575,715651,1824826,biden,0.592152,0.392175,3565287,0.511831,7,6
7,Delaware,296268,200603,504010,biden,0.587822,0.398014,973764,0.517589,3,7
8,Florida,5297045,5668731,11067456,trump,0.478615,0.512198,21477737,0.515299,29,8
9,Georgia,2474507,2461837,4998566,biden,0.495043,0.492509,10617423,0.470789,16,9
10,Hawaii,366130,196864,574469,biden,0.637336,0.342689,1415872,0.405735,4,10
11,Idaho,287021,554118,868105,trump,0.330629,0.638308,1787065,0.485771,4,11
12,Illinois,4223888,2809201,7170200,biden,0.589089,0.391788,12671821,0.565838,20,12
13,Indiana,1241774,1729446,3035088,trump,0.409139,0.569817,6732219,0.450830,11,13
14,Iowa,758881,897467,1688310,trump,0.449492,0.531577,3155070,0.535110,6,14
15,Kansas,551199,753370,1334330,trump,0.413090,0.564605,2913314,0.458011,6,15
16,Kentucky,772474,1326646,2136768,trump,0.361515,0.620866,4467673,0.478273,8,16
17,Louisiana,856034,1255776,2148062,trump,0.398515,0.584609,4648794,0.462069,8,17
18,Maine,420588,342325,786952,biden,0.534452,0.435001,1344212,0.585437,4,18
19,Maryland,1970394,973012,2998114,biden,0.657211,0.324541,6045680,0.495910,10,19
20,Massachusetts,2319420,1149614,3549597,biden,0.653432,0.323872,6892503,0.514994,11,20
21,Michigan,2804039,2649852,5544102,biden,0.505770,0.477959,9986857,0.555140,16,21
22,Minnesota,1716578,1483807,3268708,biden,0.525155,0.453943,5639632,0.579596,10,22
23,Mississippi,539494,756731,1315240,trump,0.410187,0.575356,2976149,0.441927,6,23
24,Missouri,1252371,1717685,3028133,trump,0.413579,0.567242,6137428,0.493388,10,24
25,Montana,244786,343602,605750,trump,0.404104,0.567234,1068778,0.566769,3,25
26,Nebraska,374362,556331,951390,trump,0.393490,0.584756,1934408,0.491825,5,26
27,Nevada,703486,669890,1405376,biden,0.500568,0.476662,3080156,0.456268,6,27
28,New Hampshire,424921,365654,804430,biden,0.528226,0.454550,1359711,0.591618,4,28
29,New Jersey,2599245,1876252,4551202,biden,0.571112,0.412254,8882190,0.512396,14,29
30,New Mexico,501474,401828,923756,biden,0.542864,0.434994,2096829,0.440549,5,30
31,New York,4007900,2960070,7073212,biden,0.566631,0.418490,19453561,0.363595,29,31
32,North Carolina,2684302,2758775,5524813,trump,0.485863,0.499343,10488084,0.526770,15,32
33,North Dakota,114902,235595,361819,trump,0.317568,0.651140,762062,0.474789,3,33
34,Ohio,2677738,3150642,5925806,trump,0.451877,0.531682,11689100,0.506951,18,34
35,Oklahoma,503890,1020280,1560699,trump,0.322862,0.653733,3956971,0.394418,7,35
36,Oregon,1346075,966537,2385441,biden,0.564288,0.405182,4217737,0.565574,7,36
37,Pennsylvania,3455528,3373911,6915265,biden,0.499696,0.487893,12801989,0.540171,20,37
38,Rhode Island,306192,199830,513602,biden,0.596166,0.389076,1059361,0.484822,4,38
39,South Carolina,1091541,1385103,2513329,trump,0.434301,0.551103,5148714,0.488147,9,39
40,South Dakota,150471,261043,422609,trump,0.356053,0.617694,884659,0.477708,3,40
41,Tennessee,1139376,1849820,3049514,trump,0.373625,0.606595,6829174,0.446542,11,41
42,Texas,5261055,5891778,11323963,trump,0.464595,0.520293,28995881,0.390537,38,42
43,Utah,560282,865140,1487696,trump,0.376611,0.581530,3205958,0.464041,6,43
44,Vermont,242820,112704,367428,biden,0.660864,0.306738,623989,0.588837,3,44
45,Virginia,2413582,1962614,4456310,biden,0.541610,0.440412,8535519,0.522090,13,45
46,Washington,2365643,1581049,4052544,biden,0.583743,0.390137,7614893,0.532187,12,46
47,West Virginia,235847,545051,794204,trump,0.296960,0.686286,1792147,0.443158,5,47
48,Wisconsin,1630716,1610151,3297434,biden,0.494541,0.488304,5822434,0.566333,10,48
49,Wyoming,73491,193559,276765,trump,0.265536,0.699362,578759,0.478204,3,49

In [24]:
state_votes_final.set_index('id', inplace = True)
state_votes_final.head()

,state,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent,est_population,pop_vote_percent,electoral_votes
id,,,,,,,,,,
0,Alabama,843473,1434159,2309900,trump,0.365156,0.620875,4903185,0.471102,9
1,Alaska,153551,189457,356796,trump,0.430361,0.530995,731545,0.487729,3
2,Arizona,1672143,1661686,3385845,biden,0.493863,0.490774,7278717,0.465171,11
3,Arkansas,423503,759715,1217613,trump,0.347814,0.623938,3017804,0.403477,6
4,California,11016457,5931349,17322626,biden,0.635958,0.342405,39512223,0.438412,55

In [25]:
county_votes_final = county_votes_final.reset_index()
county_votes_final.head()

,state,county,biden_county_votes,trump_county_votes,total_county_votes,county_winner,biden_county_percent,trump_county_percent
0,Alabama,Autauga County,7450,19764,27639,trump,0.269547,0.715077
1,Alabama,Baldwin County,24344,83055,108945,trump,0.223452,0.762357
2,Alabama,Barbour County,4772,5605,10457,trump,0.456345,0.536005
3,Alabama,Bibb County,1982,7508,9573,trump,0.207041,0.784289
4,Alabama,Blount County,2627,24595,27459,trump,0.095670,0.895699

In [26]:
county_votes_final['id']= county_votes_final.index
county_votes_final

,state,county,biden_county_votes,trump_county_votes,total_county_votes,county_winner,biden_county_percent,trump_county_percent,id
0,Alabama,Autauga County,7450,19764,27639,trump,0.269547,0.715077,0
1,Alabama,Baldwin County,24344,83055,108945,trump,0.223452,0.762357,1
2,Alabama,Barbour County,4772,5605,10457,trump,0.456345,0.536005,2
3,Alabama,Bibb County,1982,7508,9573,trump,0.207041,0.784289,3
4,Alabama,Blount County,2627,24595,27459,trump,0.095670,0.895699,4
...,...,...,...,...,...,...,...,...,...
4628,Wyoming,Sweetwater County,3823,12229,16603,trump,0.230260,0.736554,4628
4629,Wyoming,Teton County,9848,4341,14677,biden,0.670982,0.295769,4629
4630,Wyoming,Uinta County,1591,7496,9402,trump,0.169219,0.797277,4630
4631,Wyoming,Washakie County,651,3245,4012,trump,0.162263,0.808824,4631
4632,Wyoming,Weston County,360,3107,3542,trump,0.101637,0.877188,4632

In [27]:
county_votes_final.set_index('id', inplace = True)
county_votes_final.head()

,state,county,biden_county_votes,trump_county_votes,total_county_votes,county_winner,biden_county_percent,trump_county_percent
id,,,,,,,,
0,Alabama,Autauga County,7450,19764,27639,trump,0.269547,0.715077
1,Alabama,Baldwin County,24344,83055,108945,trump,0.223452,0.762357
2,Alabama,Barbour County,4772,5605,10457,trump,0.456345,0.536005
3,Alabama,Bibb County,1982,7508,9573,trump,0.207041,0.784289
4,Alabama,Blount County,2627,24595,27459,trump,0.095670,0.895699

In [28]:
rds_connection_string = "postgres:Blue14horse@localhost:5432/election2020"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [29]:
conn = engine.connect()

In [30]:
engine.table_names()

[]

In [33]:
state_votes_final.to_sql(name = 'state_votes_final', con = engine, if_exists = 'append', index = True)

In [34]:
county_votes_final.to_sql(name = 'county_votes_final', con = engine, if_exists = 'append', index = True)

In [35]:
state_votes_sqlfinal = pd.read_sql('select * from state_votes_final' ,conn)

In [37]:
state_votes_sqlfinal = state_votes_sqlfinal.drop(columns = ['id'])
state_votes_sqlfinal.head()

,state,biden_state_votes,trump_state_votes,total_state_votes,state_winner,biden_state_percent,trump_state_percent,est_population,pop_vote_percent,electoral_votes
0,Alabama,843473,1434159,2309900,trump,0.365156,0.620875,4903185,0.471102,9
1,Alaska,153551,189457,356796,trump,0.430361,0.530995,731545,0.487729,3
2,Arizona,1672143,1661686,3385845,biden,0.493863,0.490774,7278717,0.465171,11
3,Arkansas,423503,759715,1217613,trump,0.347814,0.623938,3017804,0.403477,6
4,California,11016457,5931349,17322626,biden,0.635958,0.342405,39512223,0.438412,55

In [39]:
county_votes_sqlfinal = pd.read_sql('select * from county_votes_final' ,conn)

In [40]:
county_votes_sqlfinal = county_votes_sqlfinal.drop(columns = ['id'])
county_votes_sqlfinal.head()

,state,county,biden_county_votes,trump_county_votes,total_county_votes,county_winner,biden_county_percent,trump_county_percent
0,Alabama,Autauga County,7450,19764,27639,trump,0.269547,0.715077
1,Alabama,Baldwin County,24344,83055,108945,trump,0.223452,0.762357
2,Alabama,Barbour County,4772,5605,10457,trump,0.456345,0.536005
3,Alabama,Bibb County,1982,7508,9573,trump,0.207041,0.784289
4,Alabama,Blount County,2627,24595,27459,trump,0.095670,0.895699

In [42]:
# Export file as a CSV, without the Pandas index, but with the header
state_votes_sqlfinal.to_csv("state_votes_sqlfinal.csv", index=False, header=True)

In [43]:
# Export file as a CSV, without the Pandas index, but with the header
county_votes_sqlfinal.to_csv("county_votes_sqlfinal.csv", index=False, header=True)