In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
# Store filepath in a variable
election_data = "president_county_candidate(11162020).csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
election_data_df = pd.read_csv(election_data, encoding="utf-8")

In [4]:
# Show just the header
election_data_df.head(25)

,state,county,candidate,party,total_votes,won
0,Delaware,Kent County,Joe Biden,DEM,44552,True
1,Delaware,Kent County,Donald Trump,REP,41009,False
2,Delaware,Kent County,Jo Jorgensen,LIB,1044,False
3,Delaware,Kent County,Howie Hawkins,GRN,420,False
4,Delaware,New Castle County,Joe Biden,DEM,195034,True
5,Delaware,New Castle County,Donald Trump,REP,88364,False
6,Delaware,New Castle County,Jo Jorgensen,LIB,2953,False
7,Delaware,New Castle County,Howie Hawkins,GRN,1282,False
8,Delaware,Sussex County,Donald Trump,REP,71230,True
9,Delaware,Sussex County,Joe Biden,DEM,56682,False
10,Delaware,Sussex County,Jo Jorgensen,LIB,1003,False
11,Delaware,Sussex County,Howie Hawkins,GRN,437,False
12,District of Columbia,District of Columbia,Joe Biden,DEM,38037,True
13,District of Columbia,District of Columbia,Donald Trump,REP,1703,False
14,District of Columbia,District of Columbia,Write-ins,WRI,293,False
15,District of Columbia,District of Columbia,Howie Hawkins,GRN,248,False
16,District of Columbia,District of Columbia,Jo Jorgensen,LIB,199,False
17,District of Columbia,District of Columbia,Gloria La Riva,PSL,106,False
18,District of Columbia,District of Columbia,Brock Pierce,IND,45,False
19,District of Columbia,Ward 2,Joe Biden,DEM,28185,True
20,District of Columbia,Ward 2,Donald Trump,REP,2874,False
21,District of Columbia,Ward 2,Write-ins,WRI,366,False
22,District of Columbia,Ward 2,Jo Jorgensen,LIB,295,False
23,District of Columbia,Ward 2,Howie Hawkins,GRN,123,False
24,District of Columbia,Ward 2,Gloria La Riva,PSL,47,False

In [5]:
election_data_df['id'] = election_data_df.index
election_data_df= election_data_df.rename(columns = {'total_votes':'county_votes'})
election_data_df.head(25)

,state,county,candidate,party,county_votes,won,id
0,Delaware,Kent County,Joe Biden,DEM,44552,True,0
1,Delaware,Kent County,Donald Trump,REP,41009,False,1
2,Delaware,Kent County,Jo Jorgensen,LIB,1044,False,2
3,Delaware,Kent County,Howie Hawkins,GRN,420,False,3
4,Delaware,New Castle County,Joe Biden,DEM,195034,True,4
5,Delaware,New Castle County,Donald Trump,REP,88364,False,5
6,Delaware,New Castle County,Jo Jorgensen,LIB,2953,False,6
7,Delaware,New Castle County,Howie Hawkins,GRN,1282,False,7
8,Delaware,Sussex County,Donald Trump,REP,71230,True,8
9,Delaware,Sussex County,Joe Biden,DEM,56682,False,9
10,Delaware,Sussex County,Jo Jorgensen,LIB,1003,False,10
11,Delaware,Sussex County,Howie Hawkins,GRN,437,False,11
12,District of Columbia,District of Columbia,Joe Biden,DEM,38037,True,12
13,District of Columbia,District of Columbia,Donald Trump,REP,1703,False,13
14,District of Columbia,District of Columbia,Write-ins,WRI,293,False,14
15,District of Columbia,District of Columbia,Howie Hawkins,GRN,248,False,15
16,District of Columbia,District of Columbia,Jo Jorgensen,LIB,199,False,16
17,District of Columbia,District of Columbia,Gloria La Riva,PSL,106,False,17
18,District of Columbia,District of Columbia,Brock Pierce,IND,45,False,18
19,District of Columbia,Ward 2,Joe Biden,DEM,28185,True,19
20,District of Columbia,Ward 2,Donald Trump,REP,2874,False,20
21,District of Columbia,Ward 2,Write-ins,WRI,366,False,21
22,District of Columbia,Ward 2,Jo Jorgensen,LIB,295,False,22
23,District of Columbia,Ward 2,Howie Hawkins,GRN,123,False,23
24,District of Columbia,Ward 2,Gloria La Riva,PSL,47,False,24

In [6]:
election_data_df.set_index('id', inplace = True)

In [7]:
election_data_df.head()

       state             county      candidate party  county_votes    won
id
0   Delaware        Kent County      Joe Biden   DEM         44552   True
1   Delaware        Kent County   Donald Trump   REP         41009  False
2   Delaware        Kent County   Jo Jorgensen   LIB          1044  False
3   Delaware        Kent County  Howie Hawkins   GRN           420  False
4   Delaware  New Castle County      Joe Biden   DEM        195034   True

In [8]:
# Store filepath in a variable
population_data = "estimated_2019population.csv"

In [9]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
population_data_df = pd.read_csv(population_data, encoding="utf-8")

In [10]:
# Show just the header
population_data_df.head()

        state  est_population
0     Alabama         4903185
1      Alaska          731545
2     Arizona         7278717
3    Arkansas         3017804
4  California        39512223

In [11]:
population_data_df['id'] = population_data_df.index
population_data_df.set_index('id', inplace = True)

In [12]:
population_data_df.head()

         state  est_population
id
0      Alabama         4903185
1       Alaska          731545
2      Arizona         7278717
3     Arkansas         3017804
4   California        39512223

In [13]:
#Loading csv containing all total number of votes form every state of the 2020 election data 
csv_file = "president_state.csv"
statevotemap = pd.read_csv(csv_file, encoding='ISO-8859-1')
statevotemap.head()

                  state  total_votes
0              Delaware       504010
1  District of Columbia       333682
2               Florida     11067083
3               Georgia      4992772
4                Hawaii       574341

In [14]:
#Esport index reset 
statevotemap = statevotemap.reset_index()
statevotemap= statevotemap.rename(columns = {'total_votes':'state_votes'})
statevotemap.head()

   index                 state  state_votes
0      0              Delaware       504010
1      1  District of Columbia       333682
2      2               Florida     11067083
3      3               Georgia      4992772
4      4                Hawaii       574341

In [15]:
#Setting Index to its own column
statevotemap = statevotemap.rename(columns = {'index':'id'})
statevotemap.set_index('id', inplace = True)
statevotemap.head()

                   state  state_votes
id
0               Delaware       504010
1   District of Columbia       333682
2                Florida     11067083
3                Georgia      4992772
4                 Hawaii       574341

In [16]:
#Impoting data 2 
csv_file2 = "Electoral_College.csv"
electoralcollege = pd.read_csv(csv_file2, encoding='ISO-8859-1')
#ELECTORAL COLLEGE VOTE FROM 2020 
electoralcollege = electoralcollege[electoralcollege['year'] == 2020]
electoralcollege.head()

     year       state  votes
58   2020     Alabama    9.0
117  2020      Alaska    3.0
176  2020     Arizona   11.0
235  2020    Arkansas    6.0
294  2020  California   55.0

In [17]:
electoralcollege = electoralcollege .reset_index()
electoralcollege.head()

   index  year       state  votes
0     58  2020     Alabama    9.0
1    117  2020      Alaska    3.0
2    176  2020     Arizona   11.0
3    235  2020    Arkansas    6.0
4    294  2020  California   55.0

In [18]:
electoralcollege = electoralcollege.drop(columns = {'index'})
electoralcollege.head()

   year       state  votes
0  2020     Alabama    9.0
1  2020      Alaska    3.0
2  2020     Arizona   11.0
3  2020    Arkansas    6.0
4  2020  California   55.0

In [19]:
electoralcollege['id']= electoralcollege.index
electoralcollege

    year           state  votes  id
0   2020         Alabama    9.0   0
1   2020          Alaska    3.0   1
2   2020         Arizona   11.0   2
3   2020        Arkansas    6.0   3
4   2020      California   55.0   4
5   2020        Colorado    9.0   5
6   2020     Connecticut    7.0   6
7   2020            D.C.    3.0   7
8   2020        Delaware    3.0   8
9   2020         Florida   29.0   9
10  2020         Georgia   16.0  10
11  2020          Hawaii    4.0  11
12  2020           Idaho    4.0  12
13  2020        Illinois   20.0  13
14  2020         Indiana   11.0  14
15  2020            Iowa    6.0  15
16  2020          Kansas    6.0  16
17  2020        Kentucky    8.0  17
18  2020       Louisiana    8.0  18
19  2020           Maine    4.0  19
20  2020        Maryland   10.0  20
21  2020   Massachusetts   11.0  21
22  2020        Michigan   16.0  22
23  2020       Minnesota   10.0  23
24  2020     Mississippi    6.0  24
25  2020        Missouri   10.0  25
26  2020         Montana    3.0  26
27  2020        Nebraska    5.0  27
28  2020          Nevada    6.0  28
29  2020   New Hampshire    4.0  29
30  2020      New Jersey   14.0  30
31  2020      New Mexico    5.0  31
32  2020        New York   29.0  32
33  2020  North Carolina   15.0  33
34  2020    North Dakota    3.0  34
35  2020            Ohio   18.0  35
36  2020        Oklahoma    7.0  36
37  2020          Oregon    7.0  37
38  2020    Pennsylvania   20.0  38
39  2020    Rhode Island    4.0  39
40  2020  South Carolina    9.0  40
41  2020    South Dakota    3.0  41
42  2020       Tennessee   11.0  42
43  2020           Texas   38.0  43
44  2020            Utah    6.0  44
45  2020         Vermont    3.0  45
46  2020        Virginia   13.0  46
47  2020      Washington   12.0  47
48  2020   West Virginia    5.0  48
49  2020       Wisconsin   10.0  49
50  2020         Wyoming    3.0  50

In [20]:
electoralcollege.set_index('id', inplace = True)

In [21]:
electoralcollege.head()

    year       state  votes
id
0   2020     Alabama    9.0
1   2020      Alaska    3.0
2   2020     Arizona   11.0
3   2020    Arkansas    6.0
4   2020  California   55.0

In [22]:
electoralcollege = electoralcollege.rename(columns= {'votes':'electoral_votes'})
electoralcollege.head()

    year       state  electoral_votes
id
0   2020     Alabama              9.0
1   2020      Alaska              3.0
2   2020     Arizona             11.0
3   2020    Arkansas              6.0
4   2020  California             55.0

In [23]:
rds_connection_string = "postgres:Blue14horse@localhost:5432/election2020"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [24]:
conn = engine.connect()

In [25]:
engine.table_names()

['electoral_college',
 'state_votes',
 'state_population',
 'county_votes',
 'election2020_votes']

In [26]:
electoralcollege.to_sql(name = 'electoral_college', con = engine, if_exists = 'append', index = True)

In [27]:
statevotemap.to_sql(name = 'state_votes', con = engine, if_exists = 'append', index = True)

In [28]:
population_data_df.to_sql(name = 'state_population', con = engine, if_exists = 'append', index = True)

In [29]:
election_data_df.to_sql(name = 'county_votes', con = engine, if_exists = 'append', index = True)

In [31]:
election2020_final = pd.read_sql('select * from election2020_final' ,conn)

In [32]:
election2020_final.head()

   id       state  est_population  state_votes  electoral_votes
0   0     Alabama         4903185      2309900              9.0
1   1      Alaska          731545       349473              3.0
2   2     Arizona         7278717      3385845             11.0
3   3    Arkansas         3017804      1212065              6.0
4   4  California        39512223     16909159             55.0

In [33]:
election2020_final = election2020_final.drop(columns = ['id'])

In [37]:
election2020_final.head()

        state  est_population  state_votes  electoral_votes
0     Alabama         4903185      2309900              9.0
1      Alaska          731545       349473              3.0
2     Arizona         7278717      3385845             11.0
3    Arkansas         3017804      1212065              6.0
4  California        39512223     16909159             55.0

In [38]:
election2020_final["state_percentage"] = election2020_final["state_votes"] / election2020_final["est_population"] * 100

In [39]:
election2020_final.head()

        state  est_population  state_votes  electoral_votes  state_percentage
0     Alabama         4903185      2309900              9.0         47.110195
1      Alaska          731545       349473              3.0         47.771907
2     Arizona         7278717      3385845             11.0         46.517058
3    Arkansas         3017804      1212065              6.0         40.163808
4  California        39512223     16909159             55.0         42.794755

In [40]:
# Export file as a CSV, without the Pandas index, but with the header
election2020_final.to_csv("election2020_final.csv", index=False, header=True)

In [41]:
# Export file as a CSV, without the Pandas index, but with the header
election_data_df.to_csv("county_votes2020.csv", index=False, header=True)